#featured-footer-image-container {
	width:40%;
	height: auto;
}

#featured-section-three-image-container img{
	width:40%;
	height: auto;
}

#featured-section-four-image-container img{
	width:40%;
	height: auto;
}

#featured-section-five-image-container img{
	width:40%;
	height: auto;
}

#featured-section-six-image-container img{
	width:40%;
	height: auto;
}